*, *::before, *::after {box-sizing: border-box; user-select: none; text-decoration: none}
html {scroll-behavior: smooth !important;}

@font-face {font-family: "October Story"; src: url(da_fonts/OctoberStory.ttf);}
@font-face {font-family: "Delight Coffee"; src: url(da_fonts/DelightCoffee.ttf);}
@font-face {font-family: "Modern Love"; src: url(da_fonts/ModernLove.ttf);}
@font-face {font-family: "Raleway SemiBold"; src: url(da_fonts/RalewaySemiBold.ttf);}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
INDEX.HTML
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --candleColor: #f9cfe5;
  --stripe: #e69edd;
  --bBottom: 2vh;
  --bLeft: 1.5vh;
  --bRight: 1.9vh;
  --bTop: 2.5vh;
}

#bodyOne {
	overflow-x: hidden;
	overflow-y: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

[data-note] {
  background-color: var(--candleColor);
  position: absolute;
  height: 13.5vh;
  width: 1.7vw;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.7ms;
  box-shadow: 0.5vw 0.7vh #a06e91;
}

[data-note]:hover {
  cursor: pointer;
  box-shadow: 0vw 0vh;
  transform: translate(0.5vw, 0.7vh);
}

.stripesBuffer {
  background: repeating-linear-gradient(110deg, white 0%, white 11%, var(--stripe) 12%, var(--stripe) 24%, white 25%, white 37%, var(--stripe) 38%, var(--stripe) 52%, white 53%, white 54%);
  box-shadow: 0.5vw 0.7vh #8b4079;
}

/* THIS AFFECTS FULLSCREEN ON ALL DEVICES! CHANGE AS NECESSARY */
.candlesBox {left: 4.5vw; position: absolute;}
@media all and (display-mode:fullscreen){.candlesBox{top: 1.7vh;}}

.candlesBox div:nth-child(1) {left: 5vw; top: 15.7vh;}
.candlesBox div:nth-child(2) {left: 10vw; top: 34.6vh;}
.candlesBox div:nth-child(3) {left: 15vw; top: 53.5vh;}
.candlesBox div:nth-child(4) {left: 20vw; top: 72vh;}
.candlesBox div:nth-child(5) {left: 25vw; top: 53.5vh;}
.candlesBox div:nth-child(6) {left: 30vw; top: 34.6vh;}
.candlesBox div:nth-child(7) {left: 35vw; top: 15.7vh;}
.candlesBox div:nth-child(8) {left: 40vw; top: 31vh;}
.candlesBox div:nth-child(9) {left: 45.5vw; top: 46vh;}
.candlesBox div:nth-child(10) {left: 52vw; top: 37.8vh;}
.candlesBox div:nth-child(11) {left: 58vw; top: 25vh;}
.candlesBox div:nth-child(12) {left: 64vw; top: 37.8vh;}
.candlesBox div:nth-child(13) {left: 69vw; top: 53.5vh;}
.candlesBox div:nth-child(14) {left: 74vw; top: 66vh;}
.candlesBox div:nth-child(15) {left: 79vw; top: 53.5vh;}
.candlesBox div:nth-child(16) {left: 84vw; top: 37.8vh;}

.candlesBox section {
  /* THE HEIGHT AND WIDTH ARE ITS BORDERS! */
  position: absolute;
  bottom: 15vh;
  right: -0.1vw;
  background-color: #f33d3d;
  transform: rotate(45deg);
  border-radius: 0% 40% 40% 40%;
  border-left: 0vh solid #f33d3d;
  border-right: 0vh solid #f33d3d;
  border-bottom: 0vh solid #f33d3d;
  border-top: 0vh solid #f33d3d;
  z-index: 1;
}

.candlesBox section div{
  position: absolute;
  margin: -17vh 0vh 0vh -5.4vw;
  background-color: #f69729;
  border-radius: 0% 40% 40% 40%;
  border-left: 0vh solid #f69729;
  border-right: 0vh solid #f69729;
  border-bottom: 0vh solid #f69729;
  border-top: 0vh solid #f69729;
  z-index: 2;
}

#arrowBtn {
  color: white;
  font-size: 15vh;
  font-family: "October Story";
  position: fixed;
  bottom: 5vh;
  right: 7vw;
  visibility: hidden;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -
MAIN.HTML
- - - - - - - - - - - - - - - - - - - - - - - - - - - */

#bodyTwo {
  background-color: #75d3d3;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 100vw;
  margin: auto;
}

#bodyTwo::-webkit-scrollbar {display: none;}

#introOne {
  margin: 10vh 5vw 5vh 5vw;
  color: white;
  font-size: 2vw;
  font-family: "Modern Love";
  line-height: 3vh;
  font-weight: 500;
}

#introOne p, #introThree p {transform: skew(12deg);}

#introTwo p {
  color: white;
  font-size: 2vh;
  font-family: "RalewaySemiBold";
}

#introTwo div {
  width: 4vh;
  border-radius: 100%;
  background-color: #75d3d3;
  margin-top: 6.5vh;
}

#master {
  margin: 0vh 1vw 0vh 1vw;
  background-color: #f5f5dc;
  min-height: 100vh;
  width: 98vw;
  border: 1vh dashed black;
  visibility: visible;
  position: absolute;
  top: 100vh;
}

.year {
  font-family: hack;
  font-size: 2.3vh;
  margin: 5vh 5vh 5vh 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 5vh;
  color: white;
  min-height: 15vw;
  border: 1vh solid lightblue;
}

.year div:nth-child(2) {
  background-color: #199494;
  padding: 0vh 1vw 0vh 1vw;
  box-shadow: 0.8vh 0.8vh #1beaea;
  border: 0.7vh solid #187474;
  transition: transform 200ms ease-out, box-shadow 200ms ease-out;
  text-align: center;
  min-width: fit-content;
  margin-left: 2vw;
  margin-right: 2vw;
}

.year div:nth-child(2):hover {
  transform: translate(0.5vw, 0.5vw);
  box-shadow: 0vh 0vh;
  cursor: pointer;
}

.year div:nth-child(odd) {
  margin: 2vh 2vh 2vh 2vh;
  max-height: 100vh;
  display: none;
}

.yearWings {display: flex !important; justify-content: center; align-items: center;}

.year div:nth-child(1) {
  color: black;
  font-family: "RalewaySemiBold";
  word-wrap: break-word;
  text-align: center;
  font-size: 0vw;
  margin: 0vw 0vw 0vw 2vw;
}

.year div img {
  width: 100%;
  border: 1.5vw double white;
}

#btnEnd {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background-color: #f5f5dc;
  border: 1vw solid black;
  margin-bottom: 1.5vw;
  transition: background-color 300ms 40ms ease-in-out;
}

#btnEnd:hover {cursor: pointer; background-color: #80cde7;}

#introThree {
  position: relative;
  bottom: 0vh;
  margin: 10vh 5vw 10vh 5vw;
  color: rgb(20, 139, 139);
  font-size: 2vw;
  font-family: "Modern Love";
  line-height: 3vh;
  font-weight: 600;
}

#introThree p:nth-child(4) {margin-left: 35vw;}
#introThree p:nth-child(5) {margin-top: 9vh;}
